li {
  color: rgb(243, 236, 236);
  font-family: serif;
  width: 300px;
  height: 40px;
  background-color: rgb(123, 19, 207);
  margin-bottom: 20px;
  padding-top: 16px;
  margin-left: 20px;
  padding: 0 16px;
  border-radius: 6px;
  list-style-type: none;
}
h1 {
  font-family: serif;
  font-size: 20px;
  color: aliceblue;
  margin-left: 20px;
}
li p {
  position: relative;
  padding: 10px;
}
