body {
  background-color: rgb(4, 1, 12);
}
.DoApp {
  background-color: rgb(18, 11, 44);
  min-height: 600px;
  width: 700px;
  margin: 40px auto;
}
#todoF input {
  background-color: rgb(247, 243, 238);
  border: 0;
  width: 300px;
  height: 40px;
  padding: 0 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 150px;
  border-radius: 6px;
  color: rgb(44, 40, 40);
  margin-top: 0;
}
#todoF input:focus,
#todoF button:focus {
  outline: none;
}
#todoF button {
  height: 40px;
  width: 100px;
  border: 0;
  border-radius: 6px;
  background: linear-gradient(to right, rgb(28, 28, 94), rgb(94, 15, 139));
  font-weight: bolder;
  color: rgb(241, 239, 235);
  cursor: pointer;
}
#p1 {
  text-align: center;
  font-family: serif;
  font-size: 30px;
  color: rgb(229, 229, 240);
  text-shadow: 4px 4px 2px gray;
  padding: 10px;
}
label {
  color: #f0ebe7;
  font-weight: bold;
  display: block;
  margin: 10px;
  margin-left: 150px;
}
label:after {
  content: " : ";
}
.ListsDiplay {
  display: flex;
  flex-direction: row;
}
